body {
  margin: 0;
  padding: 0;
  background-color: #DCF2FD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

p {
  text-align: left;
  padding: 0;
  margin: 0;
}

/* ---------------------------------------------------------------- */
/* FORSIDE */
/* ---------------------------------------------------------------- */
.navbar {
  height: 200px;
  width: 100%;
  bottom: 0px;
  position: fixed;
  z-index: 9999;
  background-color: hotpink;
}
/* ---------------------------------------------------------------- */
/* Hero Picture */
header {
  width: 100vw;
  justify-content: center;
  overflow: hidden;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------------------------------------------------------------- */
/* SECTION 1 */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

/* --------------------------------------------------------------- */
/* SECTION 2 */
.section h2 {
  font-size: 1.5rem;
  margin: 1rem;
}

section {
  display: flex;
  margin: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 4rem;
}

.events-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.event-img {
  flex: 0 0 auto;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 6px 6px 10px rgba(2, 2, 2, 0.4);
}

.event-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* Gemmer Scrollbaren til at slide igennem billederne */
/* .events-container::-webkit-scrollbar {
    display: none;
} */

/* ---------------------------------------------------------------- */
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.FooterLogo {
  width: 100px;
  height: 80px;
}

.FooterLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logos {
  display: flex;
  justify-content: space-around;
  width: 8rem;
}

.logo {
  width: 20px;
  height: 20px;
}

/* ---------------------------------------------------------------- */
/* Program-Lokation */
/* ---------------------------------------------------------------- */


/* Section 1 - Buttons for Program-Lokation*/
.ProgramButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.oval-button {
  padding: 0.4rem 1.2rem;
  font-size: 0.8em;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  border: 1.5px solid #000000;
}
/* ---------------------------------------------------------------- */
Event container + Popup */
/* ---------------------------------------------------------------- */

#events-container1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  align-items: center;

}

.event-card {
  width: 90%;
  max-width: 350px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.event-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.398);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}

.popup-indhold {
  background-color: rgb(108, 127, 160);
  color: white;
  padding: 20px;
  text-align: center;
  max-width: 350px;
  width: 90%;
  position: relative;
  border-radius: 8px;
}

.popup img {
  width: 100%;
  height: 250px;
  padding: 0%;
  border-radius: 8px;
}

.popup-luk {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.977);
}


/* ---------------------------------------------------------------- */
/* Praktisk Info & Kontakt */
/* ---------------------------------------------------------------- */

/* Section med Kontakt */
#PraktiskInfo{
display: block;
margin-inline:3rem  ;
}

.event-card {
  border: 2px solid #ccc;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

